@model WebDemo.Models.PersonViewModel
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>*@

<script type="text/javascript">
    $.extend(true, $.fn.dataTable.defaults, {
        "searching": false
    });

    $(document).ready(function () {
        //$('#example-export').DataTable();
        //$.fn.dataTable.moment('DD.MM.YYYY');
        //$.fn.dataTable.moment('DD.MM.YYYY HH:mm:ss');
        $.fn.dataTable.moment('DD.MM.YYYY');
        $('#myTable').dataTable({
            "scrollX": true,
            "dom": '<"toolbar">frtip',
            "order": [[0, "desc"]],
        });
    });

    $("div.toolbar").html('<b></b>');
</script>
<div>
    @using (Html.BeginForm("GetList", "Registration", FormMethod.Post, new { id = "myform" }))
    {
        @Html.TextBoxFor(m => m.FilterPerson.Username, new { @class = "form-control", @placeholder = "მომხმარებლი" });
        @Html.TextBoxFor(m => m.FilterPerson.FirstName, new { @class = "form-control", @placeholder = "სახელი" });
        @Html.TextBoxFor(m => m.FilterPerson.LastName, new { @class = "form-control", @placeholder = "გვარი" });
        @Html.DropDownListFor(m => m.FilterPerson.Gender, Model.genderlist, "-select-")
        @Html.AntiForgeryToken()
        HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
        <button type="submit">ძებნა</button>
    }
</div>
<table id="myTable" class="table table-striped table-bordered ">
    <thead>
        <tr>
            <th>სახელი</th>
            <th>გვარი</th>
            <th>სქესი</th>
            <th>მომხმარებელი</th>
            <th>ოპერაციები</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var person in Model.persons)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                @{string tmp = person.Gender.GetValueOrDefault() ? "Female" : "Male";}
                <td>@tmp</td>
                <td>@person.Username</td>
                <td>@Html.ActionLink("Edit", "Edit", "Registration", new { Id = person.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>

<h2>GetList</h2>